strong{
    color: blue;
}

.panel-primary {
    background: rgb(35, 47, 62);
    border-radius: 20px 0 20px 0;
    height: 30px;
    width:100%;
    border-color:rgb(35, 47, 62);
  }

  .middle {
    color: white;
    text-align: left;
    padding-top:3px;
    margin-left: -14px;
  }
  
  h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 3px;
  }

  @media screen and (max-width: 767px){
  .table-responsive {
    width:auto;
  }
}

  