
  .panel-primary {
    background: rgb(35, 47, 62);
    border-radius: 20px 0 20px 0;
    height: 30px;
    width:100%;
    border-color:rgb(35, 47, 62);
  }


  .cont{
  margin-top:-4%;
  }

  .middle {
   
    color: white;
    text-align: left;
    padding-top:3px;
    margin-left: -14px;
  }

  .middle1{
      margin-left: -20px;
  }

  h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 3px;
  }

  .outer{
      margin-top: 5px; 
      overflow: auto;
      white-space:nowrap; 
  }

  .inner{
      display: inline-block;
      vertical-align:top;
      margin-right:5px;
      white-space:normal;
  }

  .red-border{
    border: 1px solid red;
  }

  .error{
    color: red;
  }

  button{
    font-size: 12px;
  }

  /* .div_border {
     height: auto; 
     border: 1px solid #ddd;
     position: relative; 
     margin-top: -30; 
     padding: 10px 20px 20px 10px; 
} */

.set-width {
  min-width:150px ;
}

.container-fluid{
  margin-right: -30px !important;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:repeating-linear-gradient(
  45deg,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2) 10px,
  rgba(0, 0, 0, 0.3) 10px,
  rgba(0, 0, 0, 0.3) 20px
), url('/assets/js_css/images/load.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
