<section class="content-header gap" style="margin-top:-10px;">
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{maintitle}}</h4>
  </div>
</section>
<!--<pre>{{post | json}}</pre>-->
<form class="form-horizontal" style="border-top:0px;">
  <div class="table table-responsive" style="overflow-x:initial;">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover">
      <thead style="background-color:#DDE1E6;">
        <tr>

          <th class="text-center ">Sl&nbsp;No.</th>
          <th class="text-center">Ledger Name</th>
          <th class="text-center">Group Name</th>
          <th class="text-center">Balance</th>
          <th class="text-center">Type</th>
          <th class="text-center" style="width:4%;">Edit</th>
          <th class="text-center" style="width:7%;">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let posts of post let i = index">
          <td class="text-right">
            <p class="pull-right">{{i+1}}</p>
          </td>
          <td>{{posts.lg_name}}</td>
          <td class="text-center">{{posts.lg_groupname}}</td>
          <td class="text-center">{{posts.lg_openingbalance}}</td>
          <td class="text-center">{{posts.lg_amounttype}}
          </td>
          <td>
            <i #editElement class="glyphicon glyphicon-pencil" [attr.ledgerId]="posts.es_ledgerid" [attr.ledgername]="posts.lg_name"
              [attr.grpname]="posts.lg_groupname" [attr.ledgerbal]="posts.lg_openingbalance" [attr.ledgertype]="posts.lg_amounttype"
              (click)="editledger(this.editElement)"></i>
          </td>
          <td>
            <i #deleteElement class="glyphicon glyphicon-remove" [attr.ledgerId]="posts.es_ledgerid" (click)="deleteWarning(this.deleteElement,this.ledgerDeleteModal)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <br>
  <br>
</form>


<section class="content-header">
  <!--<div class="headline">-->
  <!-- Div for Page Headings -->
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</h4>
  </div>
  <!--</div>-->
  <!-- Page Headings Div Ends Here  -->
</section>
<div class="container-fluid" id="home">
  <form [formGroup]="ledgerForm" (ngSubmit)="createpost(ledgerForm)" class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
    <div class="row form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-2 col-sm-12 col-xs-12 labelfield">
        <label for="category">Name of the Ledger:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 category">
        <input type="text" formControlName="ledger" id="ledger" placeholder="Name of Ledger" class="form-control">

        <div class="error_message" *ngIf="ledgerForm.submitted && ledger.untouched">
          This field is required
        </div>
        <div *ngIf="ledger.touched && ledger.invalid" class="error_message">
          <div *ngIf="ledger.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-2 col-sm-12 col-xs-12 labelfield">
        <label for="category">Group Name:
        </label>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 category">
        <select formControlName="grpName" class="form-control" id="grp">
          <option [ngValue]="0" selected>Select Group</option>
          <option *ngFor="let undergrp of groups" [ngValue]="undergrp.es_groupname">
            {{ undergrp.es_groupname }}
          </option>
        </select>
      </div>
    </div>
    <div class="row form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-2 col-sm-12 col-xs-12 labelfield">
        <label for="category">Opening Balance:
        </label>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 category">
        <input type="text" formControlName="openingBal" id="openingBal" class="form-control top" />
      </div>
    </div>
    <div class="row form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-2 col-sm-12 col-xs-12 labelfield">
        <label for="category">Type:
        </label>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 category">
        <select formControlName="type" class="form-control" id="grp">
          <option [ngValue]="0" selected>Select Group</option>
          <option ngValue="credit">
            Credit
          </option>
          <option ngValue="debit">
            Debit
          </option>
        </select>
      </div>
    </div>
    <div class="can">
      <div [style.display]="isSaveHide?'none':'block'" class="btn_cancel  col-lg-3 col-md-3 col-xs-12 col-sm-6 pull-right">
        <button id="saveLedger" type="submit" [disabled]=!ledgerForm.valid class="btn btn-primary">
          <i class="glyphicon glyphicon-file"></i>&nbsp;Save</button>
        <button type="reset" class="btn btn-danger">
          <i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
      </div>
      <div [style.display]="isUpdateHide?'none':'block'" class="btn_cancel col-lg-3 col-md-3 col-xs-12 col-sm-6 btn_update">
        <button [disabled]="!ledgerForm.valid" id="UpdateLedger" type="button" class="btn btn-primary" (click)="updateLedger(ledgerForm)">
          <i class="glyphicon glyphicon-ok"></i> Update
        </button>
        <button id="cancelEdit" type="button" class="btn btn-danger" (click)="cancelUpdate()">
          <i class="glyphicon glyphicon-remove"></i> Cancel
        </button>
      </div>
    </div>
  </form>
</div>
<!-- Tag for showing Toast Message -->
<toaster-container [toasterconfig]="tosterconfig"></toaster-container>
<!-- Toast Tag Ends Here -->

<div #ledgerDeleteModal class="modal fade" id="ledgerDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header warning-msg">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        Ledger will be deleted permanently.
        <input #deleteLedgerId type="hidden" name="deleteLedgerId" id="deleteLedgerId" [value]="delLegtId">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteAccntData(deleteLedgerId)">
          <i class="glyphicon glyphicon-ok"></i>
          Yes
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>