<section class="content-header gap" style="margin-top:-10px;">
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Print Letter</h4>
  </div>
  <!--<span style="float:right;padding-right:100px;">Date:</span>-->
</section>

<!-- <div class="container"> -->
  <form>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group col-lg-3 col-xs-12 col-md-3 col-sm-12">
        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 labelfield" align="left" style="margin-left:-30px;padding-top:10px">
          <label>Department:</label></div>
          <div class="category col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <select class="form-control" style="font-size:12px;cursor:pointer;" required>
     <option [ngValue]="0" selected>Select Department</option>
     <option [ngValue]="Kannada">Teaching Staff</option>
     <option [ngValue]="Kannada">Non-Teaching Staff</option>
     </select>
     </div>
      </div>
      <div class="form-group col-lg-3 col-xs-12 col-md-3 col-sm-12">
        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 labelfield " align="left" style="margin-left:-50px;padding-top:10px">
          <label>Post:</label></div>
           <div class="category col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin-left:-35px;">
        <select class="form-control col-lg-4" style="font-size:12px;cursor:pointer;" required>
     <option [ngValue]="0" selected>Select Post</option>
     <option [ngValue]="Kannada">HSST English</option>
     <option [ngValue]="Kannada">HSST Hindi</option>
     <option [ngValue]="Kannada">HSST Physics</option>
     <option [ngValue]="Kannada">HSST Kannada</option>
     <option [ngValue]="Kannada">HSST Chemistry</option>
     <option [ngValue]="Kannada">HSST Mathematics</option>
     </select>
     </div>
      </div>
      <div class=" form-group col-lg-3 col-xs-12 col-md-12 col-sm-12">
         <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 labelfield " align="left" style="margin-left:-90px;padding-top:10px">
          <label>Letter:</label></div>
               <div class="category col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin-left:-35px;">
        <select class="form-control " style="font-size:12px;cursor:pointer;" required>
     <option [ngValue]="0" selected>Select </option>
     </select>
     </div>
        </div>
      <div class="form-group col-lg-3 col-xs-12 col-md-3 col-sm-12 search-btn">
        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
          <button id="" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
            &nbsp;Search</button>
        </div>
      </div>
    </div>
    <div class="table table-responsive" style="overflow-x:initial;">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover">
        <thead style="background-color:#DDE1E6;">
          <tr>          
            <th class="text-center" style="width:4%;">Sl&nbsp;No.</th>
            <th class="text-center">Employee Id</th>
            <th class="text-center">Candidate Name</th>                            
            <th class="text-center" ></th>
           
          </tr>
        </thead>
        <tbody>
          <tr>          
            <td class="text-right"><p class="pull-right">1</p></td>
            <td class="text-center">112</td>
            <td class="text-center">Teaching staff / Post 1</td>                 
            <td class="text-center">
             <button class="btn btn-primary"><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Print</button>
            </td>
              
          </tr>
        </tbody>
      </table>
    </div>

  </form>
  <!-- <div> -->