  <section class="content-header">

    <div class="panel panel-primary">
      <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}</h4>
    </div>

  </section>
  <!--<pre>{{posts | json}}</pre>-->

  <div class="table table-responsive" style="overflow-x:initial;">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped table-bordered  table-hover">
      <thead>
        <tr>
          <th class="text-center">Sl No.</th>
          <th>Person Type</th>
          <th>Reg No / Emp No</th>
          <th>Name</th>
          <th>Allocated On</th>
          <th>Dep / Class</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let room of posts let i=index" > 
          <td class="text-right">{{i+1}}</td>
          <td>{{room.persontype}}</td>
          <td>{{room.personid}}</td>
          <td *ngIf="room.persontype =='student'">{{room.pre_name}}</td>
          <td *ngIf="room.persontype =='staff'">{{room.name}}</td>
          <td>{{room.alloted_date | date:'dd-MM-yyyy'}}</td>
          <td *ngIf="room.persontype =='student'">{{room.class}}</td>
           <td *ngIf="room.persontype =='staff'">{{room.dept}}</td>
          <td><a style="cursor: pointer;" [routerLink]="['/content',{outlets:{appCommon:['issueitems']}}]" [queryParams]="{id:room.roomallotmentid,pername:room.persontype,perid:room.personid}">Issue Items</a><br>
            <a style="cursor: pointer;" [routerLink]="['/content',{outlets:{appCommon:['healthrecord']}}]" [queryParams]="{id:room.roomallotmentid,pername:room.persontype,perid:room.personid}">Health Record</a><br>
            <a style="cursor: pointer;" [routerLink]="['/content',{outlets:{appCommon:['deallocate']}}]" [queryParams]="{id:room.roomallotmentid,pername:room.persontype,perid:room.personid}">De-allocate</a><br>
            <a style="cursor: pointer;" [routerLink]="['/content',{outlets:{appCommon:['report']}}]" [queryParams]="{id:room.roomallotmentid,pername:room.persontype,perid:room.personid}">Report</a> </td>
        </tr>
        <!--<tr>  
          <td class="text-right">3</td>
          <td class="text-center">
            <select  name="persontype" [(ngModel)]="person" class="form-control">
              <option value="student">Student</option>
              <option value="staff">Staff</option>
            </select>
          </td>
          <td class="text-center">
            <input class="form-control" [(ngModel)]="reg" name="regno" type="text">
          </td>
          <td class="text-center" colspan="2">
            <my-date-picker class="" placeholder=" dd-mm-yyyy" [(ngModel)]="model" 
            name="admission_date1" id="admission_date1" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)">
            </my-date-picker>
          </td>
          <td class="text-center" colspan="2">
            <button type="submit" class="btn btn-primary" (click)="roomallotment()">  
                  <i class="glyphicon glyphicon-file"></i>&nbsp;Submit</button>
            <p>Assign Person to this room</p>
          </td>
        </tr>-->
      </tbody>
    </table>
  </div>
 <div [style.display]="isallotHide?'none':'block'"  class="row pull-right">
      <!--<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#allotroom">-->
        <button type="submit" class="btn btn-primary" (click)="checkroomvacancy(this.allotroom)">
          <i class="glyphicon glyphicon-file"></i>&nbsp;Allot Room</button>   
  </div>
  <div class="row"></div>
  <br><br>

<section class="content-header">
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{heading}}</h4>
  </div>
</section>

<div class="container-fluid">
  <form [formGroup]="roomAllocationForm">
    <div class="col-md-12">
      <div class="col-md-2">
        <label style="margin-left:-10px;">Select Building:
          <!--<span class="mandatory" style="color:red;">*</span>-->
        </label>
      </div>
      <div class="col-md-4">
        <select [(ngModel)]="buildId" formControlName="selectBuilding" class="form-control" (ngModelChange)="selectRoom($event)">
          <option [ngValue]="0" selected>Select</option>
          <option *ngFor = "let build of buildings" [ngValue]="build.es_hostelbuldid">
            {{ build.buld_name}}
          </option>
          <!--<option>Girls</option>
          <option>madrid</option>
          <option>Male Building</option>-->
        </select>
      </div>
      <div class="col-md-2">
        <label style="margin-left:-10px;">Select Room No:
          <!--<span class="mandatory" style="color:red;">*</span>-->
        </label>
      </div>
      <div class="col-md-4">
        <select [(ngModel)]="roomId" formControlName="selectRoomNo" class="form-control" (ngModelChange)="loadData($event)">
          <option [ngValue]="0" selected>Select</option>
          <option *ngFor = "let room of rooms" [ngValue]="room.es_hostelroomid">
            {{ room.room_no}}
          </option>
          <!--<option>1</option>
          <option>2</option>
          <option>3</option>-->
        </select>
      </div>
      <br>
      <div *ngFor="let post of room">
        Room type : {{post.room_type}}
        <br> Room capacity : {{post.room_capacity}}
        <br> Room number : {{post.room_no}}
      </div>
      <!--<div>
        <br>
        <label>Room Type</label> : 12x12 Sqr Ft<br> <label>Room Capacity</label> : 2 <br> <label>Room No</label> : 1
      </div>-->
    </div>


  </form>
  <!--<pre>{{posts | json}}</pre>-->
</div>
<!-- Tag for showing Toast Message -->
<toaster-container [toasterconfig]="tosterconfig"></toaster-container>
<!-- Toast Tag Ends Here -->

<div #allotroom class="modal fade" id="allotroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header warning-msg">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Room Allocation</h4>
      </div>
      <div class="modal-body">
        <div class="table table-responsive" style="overflow-x:initial;">
          <table  class="table-striped table-bordered  table-hover">
            <thead>
              <tr>
                <th class="text-center">Sl No.</th>
                <th style="width:110px;">Person Type</th>
                <th>Reg No / Emp No</th>
                <th>Name</th>
                <th>Allocated On</th>
                <th>Dep / Class</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
          <!--<form #personForm="ngForm">-->
          <td class="text-right">1</td>
          <td class="text-center" style="width:110px;">
            <select  name="persontype" [(ngModel)]="person" class="form-control">
              <option value="student">Student</option>
              <option value="staff">Staff</option>
            </select>
          </td>
          <td class="text-center">
            <input class="form-control" [(ngModel)]="reg" name="regno" type="text">
          </td>
          <td class="text-center" colspan="2">
            <my-date-picker class="" placeholder=" dd-mm-yyyy" [(ngModel)]="model" 
            name="admission_date1" id="admission_date1" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)">
            </my-date-picker>
          </td>
          <td class="text-center" colspan="2">
            <button type="submit" class="btn btn-primary" (click)="roomallotment()">
              <!--<button type="submit" class="btn btn-primary">-->
                  <i class="glyphicon glyphicon-file"></i>&nbsp;Submit</button>
            <p>Assign Person to this room</p>
          </td>
          <!--</form>-->
        </tr>
              <!--<tr>
                <td class="text-right" style="width:100px;">5</td>
                <td class="text-center">
                  <select class="form-control">
                    <option>Student</option>
                    <option>Staff</option>
                  </select>
                </td>
                <td class="text-center">
                  <input class="form-control" type="text">
                </td>
                <td class="text-center" colspan="2">
                  <my-date-picker class="" placeholder=" dd-mm-yyyy" name="admission_date1" id="admission_date1" [options]="myDatePickerOptions">
                  </my-date-picker>
                </td>
                <td class="text-center" colspan="2">
                  <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-file"></i>&nbsp;Submit</button>
                  <p>Assign Person to this room</p>
                </td>
              </tr>-->
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">
          <i class="glyphicon glyphicon-ok"></i>
          Submit
        </button> -->
      </div>
    </div>
  </div>
</div>