table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
}

.center {
 margin: auto;
 padding: 24px;
}

 .panel-primary {
   background: rgb(35, 47, 62);
   border-radius: 20px 0 20px 0;
   height: 30px;
   width:100%;
   border-color:rgb(35, 47, 62);
 }

 .middle {
   color: white;
   text-align: left;
   padding-top:3px;
   margin-left: -14px;
 }

 .well{
   background-color: rgb(245, 243, 243);
   width:100%;
   box-shadow:0 3px 5px 1px #979797;
 }

 h4, .h4, h5, .h5, h6, .h6 {
   margin-top: 3px;
 }

 .modal-footer .btn + .btn {
   margin-bottom: 0;
   margin-left: 0px;
 }

 /* .btn_cancel{
   float:right;
   margin-right: -110px;
   
 }
 .btn_update{
   margin-right:-99px;
 } */

 .btn_align{
  margin-right: -112px;
 }

.btn_save{
  margin-left:-5px;
}

.btn_update{
  margin-left:-15px;
}

.btn_cancel{
  margin-left: 77px;
  margin-top: -48px;
}

.btn-bs-file{
  position:relative;
}
.btn-bs-file input[type="file"]{
  position: absolute;
  top: -9999999;
  filter: alpha(opacity=0);
  opacity: 0;
  width:0;
  height:0;
  outline: none;
  cursor: inherit;
}

 /*Potrait Mode*/
 @media screen and (max-width: 480px) {
  /*input field*/
 .category{
   width:340px;
   margin-left:-60px;    
 }
  /*Date field*/
 .dateview{
  margin-left: -60px;
  width: 340px !important;
  border-color: #ccc;
 }
  /*Label field*/
 .labelfield{
   margin-left:-45px;
 }
}
/*Landscape Mode*/
@media screen and (max-height: 360px) {
/*input field*/
.category{
 width:595px;
 margin-left:-60px;    
}
/*Date field*/
.dateview{
margin-left: -60px;
width: 595px !important;
border-color: #ccc;
}
/*Label field*/
.labelfield{
 margin-left:-45px;
}
}
