<section class="content-header">
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}</h4>
  </div>
</section>
<div class="table table-responsive" style="overflow-x:initial;">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped table-bordered  table-hover">
    <thead>
      <tr>
        <th class="text-center">Sl No.</th>
        <th>Building Name
          <br>Room Type / Number</th>
        <th>Person Name
          <br>[Person Type]</th>
        <th>Month</th>
        <th>Bill Amount</th>
        <th>Waived</th>
        <th>Paid Amount</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let hostel of hostelList'>
        <td class="text-right">1</td>
        <td>Male Building</td>
        <td>{{ hostel.es_persontype}}</td>
        <td>3</td>
        <td>{{ hostel.room_rate }}</td>
        <td>{{ hostel.deduction }}</td>
        <td>{{ hostel.amount_paid }}</td>
        <!-- <td></td> -->
      </tr>
    </tbody>
  </table>
</div>

<section class="content-header">
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{heading}}</h4>
  </div>
</section>

<div class="container-fluid">
  <form [formGroup]="hostelChargeForm">
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-45px;">
        <label for="">Select Building:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <select formControlName="selectBuilding" class="form-control">
          <option *ngFor='let building of buildingList' [value]="building.es_hostelbuldid">{{building.buld_name}} </option>
          
        </select>
        <div *ngIf="selectBuilding.touched && selectBuilding.invalid" class="error_message">
          <div *ngIf="hostelChargeForm.controls.selectBuilding.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>


    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-45px;">
        <label for="">Select Year:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <select formControlName="selectYear" class="form-control">
          <option>Select</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
        </select>
        <div *ngIf="selectYear.touched && selectYear.invalid" class="error_message">
          <div *ngIf="hostelChargeForm.controls.selectYear.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>


    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-45px;">
        <label for="">Select Month:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <select [(ngModel)]="monthId" formControlName="selectMonth" class="form-control">
          <option>Select</option>
          <option value="01">January</option>
          <option value="02">Febrauary</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11" >November</option>
          <option value="12">December</option>
        </select>
        <div *ngIf="selectMonth.touched && selectMonth.invalid" class="error_message">
          <div *ngIf="hostelChargeForm.controls.selectMonth.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-45px;">
        <label for="">Person Type:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <select [(ngModel)]="roleId" formControlName="selectType" class="form-control">
          <option [ngValue]="0" selected>Select</option>
          <option value="student">Student</option>
          <option value="staff">Staff</option>
        </select>
        <div *ngIf="selectType.touched && selectType.invalid" class="error_message">
          <div *ngIf="hostelChargeForm.controls.selectType.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-45px;">
        <label for="">Payment Status:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <select [(ngModel)]="cashId" formControlName="selectStatus" class="form-control">
          <option>Select</option>
          <option value="paid">Paid</option>
          <option value="unpaid">Unpaid</option>
        </select>
        <div *ngIf="selectStatus.touched && selectStatus.invalid" class="error_message">
          <div *ngIf="hostelChargeForm.controls.selectStatus.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>


    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-45px;">
        <label for="">Registration No:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <input formControlName="registrationNo" type="text" placeholder="Enter Room No" class="form-control">
        <div *ngIf="registrationNo.touched && registrationNo.invalid" class="error_message">
          <div *ngIf="hostelChargeForm.controls.registrationNo.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>


    <div class="pull-right">
      <button type="submit" class="btn btn-primary" (click)="serachView(hostelChargeForm)" [disabled]="!hostelChargeForm.valid">
        <i class="glyphicon glyphicon-search"></i>&nbsp;Search</button>
      <!-- <button type="reset" class="btn btn-danger">
        <i class="glyphicon glyphicon-refresh"></i>&nbsp;Export to Excel Sheet</button> -->
      <br>
    </div>
    <div class="col-md-12" *ngFor="let dueamount of hostelList" style="text-align: right;padding-right: 150px;">
      <br>
      <div>
        <label> Total Dues : {{ dueamount.totaldues}}</label>
      </div>
      <br>
      <div>
        <label>Amount Received : {{ dueamount.totalamountreceived}}</label>
      </div>
      <br>
      <div>
        <label>Deductions Allowed : {{ dueamount.totaldeduction}}</label>
      </div>
      <br>
      <div>
        <label>Balance : {{ dueamount.totalbalance}}</label>
      </div>
      <br>
    </div>
  </form>
</div>