<section class="content-header gap" style="margin-top:-10px;">
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{maintitle}}</h4>
  </div>
</section>
<!--<pre>{{post | json}}</pre>-->
<form class="form-horizontal" style="border-top:0px;">
  <div class="table table-responsive" style="overflow-x:initial;">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover">
      <thead style="background-color:#DDE1E6;">
        <tr>
          <!-- <th class="text-center">
            <input type="checkbox" (click)="deleteAllSelected($event)" id="delete_check">
          </th> -->
          <th class="text-center ">Sl&nbsp;No.</th>
          <th class="text-center">Voucher Type</th>
          <th class="text-center">Voucher</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Date</th>
          <th class="text-center">Payment Mode</th>
          <th class="text-center">Bank Details</th>
          <th class="text-center" style="width:4%;">Edit</th>
          <th class="text-center" style="width:7%;">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let posts of post let i =index">
          <!-- <tr *ngFor="let post of posts let i = index"> -->
          <!-- <pre>{{post | json}}</pre>       -->
          <!-- <td>
            <input type="checkbox" id="{{post.a_id}}" (click)="deleteSelected(post.a_id)">
          </td> -->
          <td class="text-right">
            <p class="pull-right">{{i+1}}</p>
          </td>
          <td class="text-center">{{posts.es_vouchertype}}</td>
          <td class="text-center">{{posts.es_voucherentryid}}</td>
          <td class="text-center">{{posts.es_amount}}</td>
          <td class="text-center">{{posts.es_receiptdate}} </td>
          <td>{{posts.es_paymentmode}}</td>
          <td>
            <h6>Acct - {{posts.es_bankacc}} </h6>
            <h6>Cheque/DD - {{posts.es_checkno}} </h6>
            <h6>Bank - {{posts.	es_bank_name}} </h6>
          </td>
          <td class="text-center">
            <i #editElement class="glyphicon glyphicon-pencil" [attr.voucherid]="posts.es_voucherentryid" [attr.vouchertype]="posts.es_vouchertype"
              [attr.amount]="posts.es_amount" [attr.receiptDate]="posts.es_receiptdate" [attr.paymentmode]="posts.es_paymentmode" 
              [attr.bankacc]="posts.es_bankacc" [attr.checkno]="posts.es_checkno"
              [attr.bankname]="posts.es_bank_name"[attr.narration]="posts.es_narration" [attr.pin]="posts.es_bank_pin"
              [attr.tellernum]="posts.es_teller_number" [attr.particular]="posts.es_particulars" (click) = "editaccount(this.editElement)"></i>
          </td>
          <td class="text-center">
            <!--<i class="glyphicon glyphicon-remove"></i>-->
            <i #deleteElement class="glyphicon glyphicon-remove cursor-pointer deleteAccount" 
          [attr.voucherId]="posts.es_voucherentryid"
          (click)="deleteWarning(this.deleteElement,this.voucherDeleteModal)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <br>
  <br>
</form>


<section class="content-header">
  <!--<div class="headline">-->
  <!-- Div for Page Headings -->
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</h4>
  </div>
  <!--</div>-->
  <!-- Page Headings Div Ends Here  -->
</section>
<div class="container-fluid" id="home">

  <form [formGroup]="voucherForm" (ngSubmit)="createPost(voucherForm)" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="">Voucher Type:</label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <select formControlName="vouchertyp" class="form-control">          
          <option [ngValue]="0" selected>Select Voucher</option>
          <option *ngFor ="let voucher of vouchertype" [ngValue]="voucher.voucher">
            {{voucher.voucher}}
          </option>
          <!--<option>Purchase Order(PaidOut)</option>
          <option>Payment(PaidOut)</option>-->
        </select>
      </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="">Voucher Number:</label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <input type="text" formControlName="vouchernum" name="voucher_number" id="voucher_number" class="form-control" readonly>
        <div class="error_message" style="margin-top:-14px;" *ngIf="voucherForm.submitted && vouchernum.untouched">
          This field is required
        </div>
        <div *ngIf="vouchernum.touched && vouchernum.invalid" class="error_message" style="margin-top:-14px;">
          <div *ngIf="vouchernum.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="">Voucher Date:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class='right-inner-addon dateview col-md-5' data-date-format="yyyy-mm-dd">
        <my-date-picker formControlName="admissiondate1" class="" placeholder=" dd-mm-yyyy" name="admission_date1" id="admission_date1"
          [options]="myDatePickerOptions" [(ngModel)]="model">
        </my-date-picker>
        <div class="error_message" style="margin-top:-14px;" *ngIf="voucherForm.submitted && admissiondate1.untouched">
          This field is required
        </div>
        <div *ngIf="admissiondate1.touched && admissiondate1.invalid" class="error_message" style="margin-top:-14px;">
          <div *ngIf="admissiondate1.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <!--<div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="">Payment Mode:
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <select formControlName="Payment" #select class="form-control" name="payment" (change)="selectDiv(select.value)">
          <select formControlName="Payment" #select  class="form-control" name="payment" (change)="selectDiv(select.value)">
          <option>Select Payment</option>
          <option ngValue="cash">Cash</option>
          <option ngValue="cheque">Cheque</option>
          <option ngValue="dd">DD</option>
        </select>
      </div>
    </div>-->


     <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="">Payment Mode:
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <select #select class="form-control" formControlName="Payment" name="payment" (change)="selectDiv(select.value)">
          <option>Select Payment</option>
          <option value="cash">Cash</option>
          <option value="cheque">Cheque</option>
          <option value="dd">DD</option>
        </select>
      </div>
    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="">Narration:
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <textarea type="text" formControlName="narration" name="narration" id="narration" class="form-control"></textarea>
      </div>
    </div>



    <div id="hiddeDiv" style="display:none">
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
          <label for="">Bank Name:
          </label>
        </div>
        <div class="col col-md-5 col-sm-12 col-xs-12 category">
          <input type="text" formControlName="bankname" name="bankname" id="bankname" class="form-control">
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
          <label for="">Account Number:
          </label>
        </div>
        <div class="col col-md-5 col-sm-12 col-xs-12 category">
          <input type="text" formControlName="Account" id="accountnumber" class="form-control">
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
          <label for="">Cheque/DD Number:
          </label>
        </div>
        <div class="col col-md-5 col-sm-12 col-xs-12 category">
          <input type="text" formControlName="Cheque" id="cheque/dd" class="form-control">
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
          <label for="">Teller Name:
          </label>
        </div>
        <div class="col col-md-5 col-sm-12 col-xs-12 category">
          <input type="text" formControlName="Teller" id="tellername" class="form-control">
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
          <label for="">Pin:
          </label>
        </div>
        <div class="col col-md-5 col-sm-12 col-xs-12 category">
          <input type="text" formControlName="pin" name="pin" id="pin" class="form-control">
        </div>
      </div>
    </div>


    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="">Particulars:
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <select formControlName="particulars" class="form-control">
          <option [ngValue] = "0">Select Particulars</option>
          <option *ngFor = "let particular of particular" [ngValue]="particular.lg_name">
            {{particular.lg_name}}
          </option>
          <!--<option value="exam">Exam</option>
          <option value="salary">Salary</option>-->
        </select>
      </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="">Amount:
        </label>
      </div>
      <div class="col col-md-5 col-sm-12 col-xs-12 category">
        <input type="text" formControlName="Amount" id="Amount" class="form-control top">
      </div>
    </div>

    <div class="can">
      <div [style.display]="isSaveHide?'none':'block'"  class="btn_cancel  col-lg-3 col-md-3 col-xs-12 col-sm-6 pull-right">
        <button id="saveVoucher" type="submit" [disabled]="!voucherForm.valid" class="btn btn-primary">
          <i class="glyphicon glyphicon-file"></i>&nbsp;Save</button>
        <button type="reset" class="btn btn-danger" (click)="cancelReset()">
          <i class="glyphicon glyphicon-refresh" ></i>&nbsp;Reset</button>
      </div>
      <div [style.display]="isUpdateHide?'none':'block'" class="btn_cancel col-lg-3 col-md-3 col-xs-12 col-sm-6 btn_update">
        <button [disabled]="!voucherForm.valid" id="UpdateAccount" type="button" class="btn btn-primary" (click)="updatevoucher(voucherForm)">
          <i class="glyphicon glyphicon-ok"></i> Update
        </button>
        <button id="cancelEdit" type="button" class="btn btn-danger" (click)="cancelUpdate()">
          <i class="glyphicon glyphicon-remove"></i> Cancel
        </button>
      </div>
      <!-- <div  class="btn_cancel col-lg-3 col-md-3 col-xs-12 col-sm-6 btn_update">
        <button  id="UpdateAssignment" type="button" class="btn btn-primary" >
          <i class="glyphicon glyphicon-ok"></i> Update
        </button>
        <button id="cancelEdit" type="button" class="btn btn-danger" >
          <i class="glyphicon glyphicon-remove"></i> Cancel
        </button> 
      </div>-->
    </div>
  </form>
</div>
<!-- Tag for showing Toast Message -->
<toaster-container [toasterconfig]="tosterconfig"></toaster-container>
<!-- Toast Tag Ends Here -->

<div #voucherDeleteModal  class="modal fade" id="voucherDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header warning-msg" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        Account will be deleted permanently.
        <input #deleteVoucherId type="hidden" name="deleteVoucherId" id="deleteVoucherId" [value]="delVoucherId">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deleteVoucherData(deleteVoucherId)" >
            <i class="glyphicon glyphicon-ok"></i>
            Yes
          </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>