<!DOCTYPE html>

<body class="hold-transition skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
    <div>
        <main-header></main-header>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="padding-top:44px;padding-bottom:20px;">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content well">
                <router-outlet name="appCommon"></router-outlet>
                
            </section>
            <!-- /.content -->
        </div>
        <!-- /.conten<!t-wrapper -->
    </div>
</body>
<main-sidenav></main-sidenav>


<erp-footer class="footer-padding"></erp-footer>