<section class="content-header">
  <!--<div class="headline">-->
  <!-- Div for Page Headings -->
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Manage Voucher </h4>
  </div>
  <!--</div>-->
  <!-- Page Headings Div Ends Here  -->
</section>
<!--<pre>{{post | json}}</pre>-->
<div class="table table-responsive" style="overflow-x:initial;">
  <h5 class='text-center'>Note : You can only update an existing Voucher Type.</h5>
  <br>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover">
    <thead style="background-color:#DDE1E6;">
      <tr>
        <th class="text-center ">S.no</th>
        <th class="text-center">Voucher Type</th>
        <th class="text-center">Voucher Mode</th>
        <!--<!-- <th class="text-center" style="width:4%;">Edit</th>-->
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let posts of post let i=index">
        <td class="text-right">
          <p class="pull-right">{{i+1}}</p>
        </td>
        <td class="text-center">{{posts.voucher_type}}</td>
        <!--<td *ngIf="!isActive" class="text-center">{{posts.voucher_mode}}</td>
        <td *ngIf="isActive" class="text-center">-->
        <!--<td id = "'vouchermode' + posts.es_voucherid" class="text-center">{{posts.voucher_mode}}</td>-->

        <td  class="text-center">
          <h6 [attr.id] = "'vouchermode' + posts.es_voucherid">{{posts.voucher_mode}}</h6>
          <select style = "display:none;" [attr.id]="'voucher' +  posts.es_voucherid" 
          (ngModelChange)='getmodevalue(posts.es_voucherid,$event)' [(ngModel)]='posts.voucher_mode' class="form-control">
          <!--<select style = "display:none;" [attr.id]="'voucher' +  posts.es_voucherid" 
           class="form-control">-->
            <!--<option selcted>{{posts.voucher_mode}}</option>-->
            <option [selected]="posts.voucher_mode == 'paidin'" >paidin</option>
            <option [selected]="posts.voucher_mode == 'paidout'" >paidout</option>
          </select>
        </td>
        <td class="text-center">
          <button [attr.id]="'updateVocher'  +  posts.es_voucherid" (click)='toggle(posts.es_voucherid)' type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-file"></i>&nbsp;Update</button>
          <button style='display:none;' [attr.id]="'submitVocher' +  posts.es_voucherid" type="submit" (click)='togglesubmit()'
           class="btn btn-primary">
      <i class="glyphicon glyphicon-file"></i>&nbsp;Submit</button>
          <button style='display:none;' [attr.id]="'backvoucher'+  posts.es_voucherid" (click)='toggleback(posts.es_voucherid)' type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-file"></i>&nbsp;Back</button>
          <!--<button *ngIf="!isActive" id="'updateVocher'  +  posts.es_voucheri" (click)='toggle(posts.es_voucherid)' type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-file"></i>&nbsp;Update</button>
        <button *ngIf="isActive" id="'submitVocher' +  posts.es_voucherid" (click)='toggle()' type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-file"></i>&nbsp;Submit</button>
        <button *ngIf="isActive" (click)='toggle()' id = "'backvoucher'+  posts.es_voucherid" type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-file"></i>&nbsp;Back</button>-->
        </td>
      </tr>
    </tbody>
  </table>
  <!--<div class="btn_cancel  col-lg-3 col-md-3 col-xs-12 col-sm-6 " style="margin-left:40%">
    <button *ngIf="!isActive" id="updateVocher" (click)='toggle()' type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-file"></i>&nbsp;Update</button>
    <button *ngIf="isActive" id="submitVocher" (click)='toggle()' type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-file"></i>&nbsp;Submit</button>
    <button *ngIf="isActive" (click)='toggle()' type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-file"></i>&nbsp;Back</button>
  </div>-->
</div>

<!-- Tag for showing Toast Message -->
  <toaster-container [toasterconfig]="tosterconfig"></toaster-container>
  <!-- Toast Tag Ends Here -->