#nba_sar {
	overflow: hidden !important;
}
.btn-fix{
  margin-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
 }
#guide_line_model_publish{
width: 50%;
}

.background-nba{
/*background-color:rgb(250, 204, 166);*/
background-color:rgb(35, 47, 62) !important;
color:#FFFFFF !important;
}

.header-nba{
font-size:14px;
}

.table-nba{
border-color:black !important;
}
.table-nba td {
 
  border-color:black !important;
}

.table-nba th {
 
  border-color:black !important;
}
.h4_weight{
	font-weight: normal;
}
.list_style{
	list-style-type: none;
}
.cl{
	margin-bottom:20px;
	padding-top: 20px;
	border-bottom: 1px solid;
}
.cos_content,.crs_content{
	margin-bottom:20px;
}
.term_container{
	background-color:#fff;
	border:1px solid;
	overflow-y:scroll;
	overflow-x:hidden;
	height:200px;
	width: 220px;
}
.cos_checkbox{
	position:relative;
	left: 10px;
}
.term_parent{
	width:200px;
	position:relative;
	bottom:12px;
}