body{
    font-size:12px;
}

.panel-primary {
    background: rgb(35, 47, 62);
    border-radius: 20px 0 20px 0;
    height: 30px;
    width:100%;
    border-color:rgb(35, 47, 62);
  }

  .cls {
    background: black;
    border-radius: 20px 0px 20px 0px;
    height: 30px;
    width:60%;
    margin-left: -14px;
  }

  .middle {
    color: white;
    text-align: left;
    padding-top:3px;
    margin-left: -14px;
  }

  .middle1{
      margin-left: -20px;
  }

  table {
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
     border: 1px solid #ddd;
 }
 th, td {
     border: none;
     padding: 8px;
 }

 
 h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 3px;
  }
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

/*Potrait Mode*/
@media screen and (max-width: 480px) {
    /*input field*/
   .category{
     width:340px;
     margin-left:-45px !important;    
   }
    /*Date field*/
   .dateview{
    margin-left: -45px;
    width: 340px !important;
    border-color: #ccc;
   }
    /*Label field*/
   .labelfield{
     margin-left:-45px;
   }
   /*Label extra field*/
   .labelextra{
    margin-left:-36px;
    width:340px;
   }
  }
/*Landscape Mode*/
@media screen and (max-height: 360px) {
  /*input field*/
 .category{
   width:595px;
   margin-left:-45px !important;    
 }
  /*Date field*/
 .dateview{
  margin-left: -45px;
  width: 595px !important;
  border-color: #ccc;
 }
  /*Label field*/
 .labelfield{
   margin-left:-45px;
 }
 /*Label extra field*/
 .labelextra{
    margin-left:-36px;
    width:595px;
   }
}
