<section class="content-header">
  <!--<div class="headline">-->
  <!-- Div for Page Headings -->
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Account Groups</h4>
  </div>
  <!--</div>-->
  <!-- Page Headings Div Ends Here  -->
</section>

<form class="form-horizontal" style="border-top:0px;">
  <div class="table table-responsive" style="overflow-x:initial;">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover">
      <thead style="background-color:#DDE1E6;">
        <tr>
          <!-- <th class="text-center">
            <input type="checkbox" (click)="deleteAllSelected($event)" id="delete_check">
          </th> -->
          <th class="text-center ">Sl&nbsp;No.</th>
          <th class="text-center">Group Name</th>
          <th class="text-center">Under Group</th>

          <th class="text-center" style="width:4%;">Edit</th>
          <th class="text-center" style="width:7%;">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <tr *ngFor="let post of posts let i = index"> -->
          <!-- <pre>{{post | json}}</pre>       -->
          <!-- <td>
            <input type="checkbox" id="{{post.a_id}}" (click)="deleteSelected(post.a_id)">
          </td> -->
          <td class="text-right">
            <p class="pull-right">1</p>
          </td>

          <td class="text-center">ASDF</td>
          <td class="text-center">BIOLOGY SCIENCE</td>

          <td>
            <i class="glyphicon glyphicon-pencil"></i>
          </td>
          <td>
            <i class="glyphicon glyphicon-remove"></i>
          </td>
          <!-- <td class="text-center center" style="width:4%;">
            <i pageScroll href="#home" #editElement class="glyphicon glyphicon-pencil cursor-pointer editDept" [attr.assignmentId]="post.a_id"
              [attr.assignmentName]="post.assignment_name" [attr.assignmentInitialDate]="post.initiate_date" [attr.assignmentEndDate]="post.due_date"
              [attr.assignmentTotalMarks]="post.total_marks" [attr.assignmentInstruction]="post.instructions" (click)="editassignment(this.editElement)"
              (click)="checkDate(post.initiate_date)"></i>
              </td>
           <td class="text-center center" style="width:7%;">
              <i #deleteElement class="glyphicon glyphicon-remove cursor-pointer deleteAssignment" [attr.assignmentId]="post.a_id" (click)="deleteWarning(this.deleteElement,this.assignmentDeleteModal)"></i>
              </td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <br>
  <br>
</form>


<section class="content-header">
  <!--<div class="headline">-->
  <!-- Div for Page Headings -->
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create Account Groups</h4>
  </div>
  <!--</div>-->
  <!-- Page Headings Div Ends Here  -->
</section>
<div class="container-fluid" id="home">
  <form class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="category">Group Name:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 category" style="margin-left:-60px;">
        <input type="text" name="assignment" id="assignment" placeholder="Name of Group" class="form-control">
      </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-2 col-sm-12 col-xs-12 labelfield" style="margin-left:-60px;">
        <label for="category">Under Group:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 category" style="margin-left:-60px;">
        <select class="form-control">
          <option>Select Group</option>
          <option>BIOLOGY SCIENCE</option>
          <option>COMPUTER SCIENCE</option>
          <option>ELECTRONICS SCIENCE</option>
        </select>
      </div>
    </div>
    <div class="can">
      <div class="btn_cancel  col-lg-3 col-md-3 col-xs-12 col-sm-6 pull-right">
        <button id="saveAssignment" type="submit" class="btn btn-primary">
          <i class="glyphicon glyphicon-file"></i>&nbsp;Save</button>
        <button type="reset" class="btn btn-danger">
          <i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
      </div>
    </div>
  </form>
</div>