<!-- <form method="post" name="preadmission" action=""> -->
  <section class="content-header gap">
    <div class="panel panel-primary">
      <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send Letter
      </h4>
    </div>
  </section>
  <div class="row form-group">
    <div class="col col-sm-12 col-xs-12 col-lg-6 col-md-6">
      <div class="labelfield col-lg-6 col-md-6"><label>Department:</label>
        <span class="mandatory" style="color:#FF0000">*</span>
      </div>
      <div class="category col-lg-6 col-md-6">
        <select class="form-control" name="pre_serialno" id="pre_serialno">
          <option value="">Select Staff </option>
          <option value="Teaching">Teaching Staff</option>
          <option value="Non-Teaching">Non-Teaching Staff</option>
        </select>
      </div>
    </div>
  </div>  
  <div class="row form-group ">
    <div class="col col-sm-12 col-xs-12 col-lg-6 col-md-6">
      <div class="labelfield col-lg-6 col-md-6"><label>Post:</label>
        <span class="mandatory" style="color:#FF0000">*</span>
      </div>
      <div class="category col-lg-6 col-md-6">
        <select class="form-control" name="pre_serialno" id="pre_serialno">
          <option value="">Select Post </option>
          <option value="Engineering Mathematics">Engineering Mathematics</option>
          <option value="JAVA">JAVA</option>
          <option value="Net">.Net</option>
          <option value="DBMS">DBMS</option>
          <option value="Electronics">Electronics</option>
          <option value="FT">Field Theory</option>
          <option value="unix">Unix</option>
        </select>
      </div>
    </div>
  </div>  
  <div class="row form-group">
    <div class="col col-sm-12 col-xs-12 col-lg-6 col-md-6">
      <div class="labelfield col-lg-6 col-md-6"><label>Name / Username:</label>
        <span class="mandatory" style="color:#FF0000">*</span>
      </div>
      <div class="category col-lg-6 col-md-6">
        <select class="form-control" name="pre_serialno" id="pre_serialno">
          <option value="">Select name </option>
          <option value="Adithya">Adithya</option>
          <option value="Avinash">Avinash</option>
          <option value="Deepa">Deepa</option>
          <option value="Sachin">Sachin</option>
          <option value="Suchitra">Suchitra</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col col-sm-12 col-xs-12 col-lg-6 col-md-6">
      <div class="labelfield col-lg-6 col-md-6"><label>Subject:</label>
        <span class="mandatory" style="color:#FF0000">*</span>
      </div>
      <div class="category col-lg-6 col-md-6">
        <input class="form-control" type="text" name="admission_id" value="">
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col col-sm-12 col-xs-12 col-lg-6 col-md-6">
      <div class="labelfield col-lg-6 col-md-6"><label>Select Letter Format:</label>
        <span class="mandatory" style="color:#FF0000">*</span>
      </div>
      <div class="category col-lg-6 col-md-6">
        <select class="form-control" name="pre_serialno" id="pre_serialno">
          <option value="">Select format </option>
          <option value="A4">A4</option>
          <option value="A3">A3</option>
        </select>
      </div>
    </div>
  </div>
<!-- <br><br> -->
  <div class="bottom_btn">
      <button type="button" class="btn btn-primary">  <span class="glyphicon glyphicon-send"></span>&nbsp;Send&nbsp;Email</button>
    </div>
<!-- </form> -->