<section class="content-header">
  <!--<div class="headline">-->
  <!-- Div for Page Headings -->
  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Allot Driver to Vehicle</h4>
  </div>
  <!--</div>-->
  <!-- Page Headings Div Ends Here  -->
</section>


<div class="table table-responsive" style="overflow-x:initial;width:70%;margin-left:15%;">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover">
    <thead style="background-color:#DDE1E6;">
      <tr>

        <th class="text-center ">S.no</th>
        <th class="text-center">Vehicle No</th>
        <th class="text-center">Driver</th>

        <th class="text-center" style="width:4%;">Edit</th>
        <!-- <th class="text-center" style="width:7%;">Delete</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>

        <td class="text-right">
          <p class="pull-right">1</p>
        </td>

        <td class="text-center">1234</td>
        <td *ngIf="!isActive" class="text-center">Pankaj</td>
        <td *ngIf="isActive" class="text-center">
          <select class="form-control">
            <option>Select Driver</option>
            <option>Narayana</option>
            <option>panku</option>
            <option>PK</option>

          </select>

        </td>
        <td class="text-center">
          <i  (click)='toggle()' class="glyphicon glyphicon-pencil"></i>
        </td>
        <!-- <td>
          <i class="glyphicon glyphicon-remove"></i>
        </td> -->


      </tr>
      <tr>

        <td class="text-right">
          <p class="pull-right">2</p>
        </td>

        <td class="text-center">5678</td>
        <td *ngIf="!isActive" class="text-center">Narayana</td>
        <td *ngIf="isActive" class="text-center">
          <select class="form-control">
            <option>Select Driver</option>
            <option>Pankaj</option>
            <option>Panku</option>
            <option>PK</option>

          </select>
        </td>
        <td class="text-center">
          <i (click)='toggle()' class="glyphicon glyphicon-pencil"></i>
        </td>




      </tr>
      <tr>

        <td class="text-right">
          <p class="pull-right">3</p>
        </td>

        <td class="text-center">8901</td>
        <td *ngIf="!isActive" class="text-center">Panku</td>
        <td *ngIf="isActive" class="text-center">
          <select class="form-control">
            <option>Select Driver</option>
            <option>Narayana</option>
            <option>Pankaj</option>
            <option>PK</option>

          </select>
        </td>
        <td class="text-center">
          <i (click)='toggle()' class="glyphicon glyphicon-pencil"></i>
        </td>



      </tr>
    </tbody>
  </table>
  <div *ngIf="isActive" class="can ">
    <div style="margin-left:40%;" class="btn_cancel  col-lg-3 col-md-3 col-xs-12 col-sm-6 ">
      <button id="saveAssignment" type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-file"></i>&nbsp;Save</button>
      <button type="reset" class="btn btn-danger">
        <i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
    </div>

  </div>
</div>
