<!-- Room Availability -->
<section class="content-header">
  <!--<div class="headline">-->
  <!-- Div for Page Headings -->

  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</h4>
  </div>
  <!--</div>-->
  <!-- Page Headings Div Ends Here  -->
</section>

<div class="container-fluid cont">

  <form> 
    <div class="col-md-12">
      <div class="col-md-2">
        <label style="margin-left:-30px;">Building Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          <!--<span class="mandatory" style="color:red;">*</span>-->
        </label>
      </div>
      <!--<div class="col-md-5">
        <select  formControlName="roomavailability" class="form-control">
          <option [ngValue]="0" selected>Select</option>
          <option *ngFor = "let avail of availability" [ngValue]="avail.es_hostelbuldid">
            {{ avail.buld_name}}
          </option>
        </select>
        <br>
      </div>-->
    </div>
    <br><br>
    <div class="col-md-12">
      <div class="col-md-2">
        <label style="margin-left:-30px;">Room No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          <!--<span class="mandatory" style="color:red;">*</span>-->
        </label>
      </div>
      <!--<div class="col-md-5">
        <select  formControlName="roomavailability" class="form-control">
          <option [ngValue]="0" selected>Select</option>
          <option *ngFor = "let avail of availability" [ngValue]="avail.es_hostelbuldid">
            {{ avail.buld_name}}
          </option>
        </select>
        <br>
      </div>-->
    </div>
    <br><br>
    <div class="col-md-12">
      <div class="col-md-2">
        <label style="margin-left:-30px;">Person Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          <!--<span class="mandatory" style="color:red;">*</span>-->
        </label>
      </div>
      <!--<div class="col-md-5">
        <select  formControlName="roomavailability" class="form-control">
          <option [ngValue]="0" selected>Select</option>
          <option *ngFor = "let avail of availability" [ngValue]="avail.es_hostelbuldid">
            {{ avail.buld_name}}
          </option>
        </select>
        <br>
      </div>-->
    </div>
    <br><br>
    <div class="col-md-12">
      <div class="col-md-2">
        <label style="margin-left:-30px;">Registration No&nbsp;&nbsp;&nbsp;&nbsp;:
          <!--<span class="mandatory" style="color:red;">*</span>-->
        </label>
      </div>
      <!--<div class="col-md-5">
        <select  formControlName="roomavailability" class="form-control">
          <option [ngValue]="0" selected>Select</option>
          <option *ngFor = "let avail of availability" [ngValue]="avail.es_hostelbuldid">
            {{ avail.buld_name}}
          </option>
        </select>
        <br>
      </div>-->
    </div>
    <br><br>
    <div class="col-md-12">
      <div class="col-md-2">
        <label style="margin-left:-30px;">Person Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          <!--<span class="mandatory" style="color:red;">*</span>-->
        </label>
      </div>
      <!--<div class="col-md-5">
        <select  formControlName="roomavailability" class="form-control">
          <option [ngValue]="0" selected>Select</option>
          <option *ngFor = "let avail of availability" [ngValue]="avail.es_hostelbuldid">
            {{ avail.buld_name}}
          </option>
        </select>
        <br>
      </div>-->
    </div>
    <br><br>
    <div class="col-md-12">
      <div class="col-md-2">
        <label style="margin-left:-30px;">Allocate On&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          <!--<span class="mandatory" style="color:red;">*</span>-->
        </label>
      </div>
      <!--<div class="col-md-5">
        <select  formControlName="roomavailability" class="form-control">
          <option [ngValue]="0" selected>Select</option>
          <option *ngFor = "let avail of availability" [ngValue]="avail.es_hostelbuldid">
            {{ avail.buld_name}}
          </option>
        </select>
        <br>
      </div>-->
    </div>
    <br><br>
    <div class="col-md-12">
      <div class="col-md-2">
        <label style="margin-left:-30px;">De-allocate Date&nbsp;&nbsp;&nbsp;:
          <!--<span class="mandatory" style="color:red;">*</span>-->
        </label>
      </div>
      <div class='right-inner-addon date datepicker siz col-md-4' style="margin-left: -60px;" data-date-format="yyyy-mm-dd">
            <my-date-picker class="toplesson" placeholder=" dd-mm-yyyy" name="admission_date1" id="admission_date1" [options]="myDatePickerOptions"
              [(ngModel)]="model">
            </my-date-picker>
          </div>
    </div>
    <br><br>
    <div  class="pull-right btn_alignment">
      <button  type="submit" class="btn btn-primary" (click)="searchroom(roomForm)">
        <i class="glyphicon glyphicon-file"  ></i>&nbsp;De-Allocate</button>

      <button type="reset" class="btn btn-danger">
        <i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
    </div>
  </form>
</div>