<!-- Room Availability -->
<section class="content-header">
  <!--<div class="headline">-->
  <!-- Div for Page Headings -->

  <div class="panel panel-primary">
    <h4 class="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</h4>
  </div>
  <!--</div>-->
  <!-- Page Headings Div Ends Here  -->
</section>

<div class="container-fluid cont">

  <form [formGroup]="deallocateForm" (ngSubmit)="searchroom(deallocateForm)">
    <div class="row">
      <div class="col col-md-2">
        <label>Building Name
        </label>
      </div>
      <div class="col col-md-5">
        <label class="issueitem" style="text-align:left;">:&nbsp;{{buildname}} 
        </label>
      </div>
    </div><br>
    <div class="row">
      <div class="col col-md-2">
        <label>Room No
        </label>
      </div>
      <div class="col col-md-5">
        <label class="issueitem" style="text-align:left;">:&nbsp;{{roomno}} 
        </label>
      </div>
    </div><br>
    <div class="row">
      <div class="col col-md-2">
        <label>Person Type
        </label>
      </div>
      <div class="col col-md-5">
        <label class="issueitem" style="text-align:left;">:&nbsp;{{persontype}} 
        </label>
      </div>
    </div><br>
    <div class="row">
      <div class="col col-md-2">
        <label>Registration No
        </label>
      </div>
      <div class="col col-md-5">
        <label class="issueitem" style="text-align:left;">:&nbsp;{{personid}} 
        </label>
      </div>
    </div><br>
    <div class="row">
      <div class="col col-md-2">
        <label>Person Name
        </label>
      </div>
      <div class="col col-md-5">
        <label class="issueitem" style="text-align:left;">:&nbsp;{{personname}} 
        </label>
      </div>
    </div><br>
    <div class="row">
      <div class="col col-md-2">
        <label>Allocate On
        </label>
      </div>
      <div class="col col-md-5">
        <label class="issueitem" style="text-align:left;">:&nbsp;{{allot}}
        </label>
      </div>
    </div><br>
    <div class="row">
      <div class="col col-md-2">
        <label>De-allocate Date:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class='right-inner-addon date datepicker siz col-md-3' style="margin-left: -60px;" data-date-format="yyyy-mm-dd">
        <my-date-picker class="toplesson" placeholder=" dd-mm-yyyy" formControlName="deallocationdate"
         name="deallocationdate" id="deallocationdate"  [options]="myDatePickerOptions"
          [(ngModel)]="model"  required  (dateChanged)="onDateChanged($event)">
        </my-date-picker>
        <br><br>
         <div *ngIf="deallocationdate.touched && deallocationdate.invalid" class="error_message" >
          <div *ngIf="deallocateForm.controls.deallocationdate.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-md-12">
      <div class="col-md-2">
        <label style="margin-left:-30px;">De-allocate Date&nbsp;&nbsp;&nbsp;:
          <span class="mandatory" style="color:red;">*</span>
        </label>
      </div>
      <div class='right-inner-addon date datepicker siz col-md-4' style="margin-left: -60px;" data-date-format="yyyy-mm-dd">
            <my-date-picker class="toplesson" placeholder=" dd-mm-yyyy" name="admission_date1" id="admission_date1" [options]="myDatePickerOptions"
              [(ngModel)]="model" (dateChanged)="onDateChanged($event)" >
            </my-date-picker>
          </div>
    </div>
    <br><br>-->
    <div class="pull-right btn_alignment">
      <button type="submit" class="btn btn-primary" [disabled]="!deallocateForm.valid">
        <i class="glyphicon glyphicon-file"  ></i>&nbsp;De-Allocate</button>

      <button type="reset" class="btn btn-danger">
        <i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
    </div>
  </form>
</div>

<!-- Tag for showing Toast Message -->
<toaster-container [toasterconfig]="tosterconfig"></toaster-container>
<!-- Toast Tag Ends Here -->